/* CSS Document */

/* convas */
body,html {
    margin:0;
    padding:0;
    background: white;
}
#wrap {
    width: 820px;
    margin:0 auto;
    background-color: white;
}

/* float sidebar */
#main {
    float:left;
    width:600px;
}
#sidebar {
    float:right;
    width:200px;
}
#footer {
    clear:both;
}

/* color */
#main {
    background-color: #f0f0f0;
}
#title {
    text-align:center;
}
#comments {
    background-color: white;
}
hr {
    color: #303030;
}

/* navigation bar horizontal */
#nav ul {
    margin:0;
    padding:0;
    list-style:none;
}
#nav li {
    display:inline;
    margin:0;
    padding:0;
}
